<ul ngbNav class="nav-tabs">
  <li
    class="ng-star-inserted"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="nav-link" routerLink="/" title="Home"
      ><span class="nav-link-inner">Home</span></a
    >
  </li>
  <li
    class="ng-star-inserted"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="nav-link" routerLink="/users" title="Users"
      ><span class="nav-link-inner">Users</span></a
    >
  </li>
</ul>
